<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.2A54E3BE-BC59-42D8-A4DF-B69D1FB083D7</string>
	<key>lightthemeuid</key>
	<string>theme.custom.2A54E3BE-BC59-42D8-A4DF-B69D1FB083D7</string>
</dict>
</plist>
